/* Container styling */
.gamemode-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
}
  
/* Button styling */
.gamemode-button {
  background-color: #2b2b2b;
  color: #666666;
  border: none;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: color 0.3s, transform 0.3s;
}

.gamemode-button:hover {
  color: #dddddd;
  transform: translateY(-2px);
}

.gamemode-button:focus{
  outline: none;
}

/* Active button styling */
.gamemode-button.active {
  color: #ffffff;
  font-weight: bold;
}

.divider {
  width: 3px;
  height: 30px;
  background-color: #3b3b3b;
  margin: 0 10px;
  border-radius: 30px;
  align-self: center; 
}

.placeholder-gamemodebar {
  height: 43px;
}

.placeholder-stats-overlay {
  height: 36px;
}

.blur {
  filter: blur(12px);
  clip-path: inset(-10px round 10px);
}

.crosshair {
  cursor: crosshair;
}

.sketch-overlay {
  position: absolute;
  text-align: center;
  top: 336px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Overlay is on the top layer */
}

.stats-overlay {
  text-align: left;
  font-size: 24px;
}