/* GAMEBAR STYLING */

/* General Gamebar */
.gamemode-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #2b2b2b;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.gamemode-bar.hidden {
  opacity: 0;
  visibility: hidden;
}

.gamemode-data-buttons {
  display: inline-flex;
}
  
/* Button */
.gamemode-button {
  background-color: transparent;
  color: #666666;
  border: none;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 5px;
  outline: none;
  transition: color 0.3s, transform 0.3s;
}

/* Button Hover */
.gamemode-button:hover {
  color: #dddddd;
  transform: translateY(-2px);
}

/* Button Focus */
.gamemode-button:focus{
  outline: none;
}

/* Active button */
.gamemode-button.active {
  color: #ffffff;
  font-weight: bold;
}

/* Divider */
.divider {
  width: 4px;
  height: 23px;
  background-color: #3b3b3b;
  margin: 0 10px;
  border-radius: 30px;
  align-self: center; 
}

/* Placeholder Gamebar */
.placeholder-gamemodebar {
  height: 43px;
}


/* P5WRAPPER STYLING */

/* Stats Placeholder */
.placeholder-stats-overlay {
  height: 24px;
}

/* Blur Sketch */
.blur {
  filter: blur(12px);
  clip-path: inset(-10px round 10px);
  transition: filter 0.2s ease-in-out;
}

/* Active Sketch */
.crosshair {
  cursor: crosshair;
  transition: filter 0.2s ease-in-out;
}

/* Sketch Overlay */
.sketch-overlay {
  position: absolute;
  text-align: center;
  top: 324px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Overlay is on the top layer */
}

/* Stats Overlay */
.stats-overlay {
  text-align: left;
  font-size: 24px;
}

/* NAVBAR STYLING */

/* General NavBar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.navbar.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Logo */
.navbar-logo {
  display: inline-flex;
  align-items: center;
  margin-left: 5%;
  margin-right: auto;
  font-size: 54px;
  font-weight: 600;
  color: #e5e5e5;
  cursor: pointer;
}

/* Logo Image */
.logo-image {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

/* Button Group */
.navbar-buttons {
  margin-left: auto;
  margin-right: 5%;
  display: inline-flex;
}

/* Button */
.navbar-button {
  background-color: #2b2b2b;
  color: #949494;
  border: none;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 5px;
  outline: none;
  transition: color 0.3s, transform 0.3s;
}

/* Button Hover */
.navbar-button:hover {
  color: #e5e5e5;
}

/* Button Focus */
.navbar-button:focus{
  outline: none;
}

/* POPUP STYLING */

/* General Popup */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

/* Misc Popup */
.misc-popup {
  background: #242424;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
  position: relative;
}

/* Signup/Login Popup */
.signup-login-popup{
  background: #242424;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  max-width: 325px;
  position: relative;
}

.login-header {
  margin-bottom: 0;
}

/* Login Form */
form {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 30px;
}

/* Login Form Input */
input {
  border: none;
  background: #2b2b2b;
  padding: 5px;
  border-radius: 5px;
  line-height: 1.5rem;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inconsolata', monospace;
  width: 15rem;
}

/* Login Form Button */
.login-form-button {
  width: 15rem;
  background-color: rgb(55, 55, 55);
  color: #949494;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

/* Login Button Hover */
.login-form-button:hover {
  color: #e5e5e5;
  background-color: rgb(60, 60, 60);
}

/* Login Button Focus */
.login-form-button:focus{
  outline: none;
}

/* Signup/Login Switch Button */
.login-register-button {
  width: 8rem;
  background-color: rgb(47, 47, 47);
  color: #949494;
  border: none;
  border-radius: 5px;
  margin: 5px;
  outline: none;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

/* Signup/Login Switch Button Hover */
.login-register-button:hover {
  color: #e5e5e5;
  background-color: rgb(52, 52, 52);
}

/* Signup/Login Switch Button Focus */
.login-register-button:focus{
  outline: none;
}

/* FOOTER STYLING */

/* General Footer */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.footer.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Version Number */
.footer-version {
  display: inline-flex;
  align-items: center;
  margin-left: 16%;
  margin-right: auto;
  color: #666666;
  font-size: 17px;
  font-weight: 700;
}

/* Button Group */
.footer-buttons {
  margin-left: auto;
  margin-right: 16%;
  display: inline-flex;
}

/* Button */
.footer-button {
  background-color: transparent;
  color: #666666;
  border: none;
  padding: 8px 20px;
  margin: 0 5px;
  border-radius: 5px;
  outline: none;
  transition: color 0.3s, transform 0.3s;
}

/* Button Hover */
.footer-button:hover {
  color: #e5e5e5;
}

/* Button Focus */
.footer-button:focus{
  outline: none;
}