@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  cursor: inherit;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  height: 100vh;
}

.navbar-container {
  grid-row: 1 / 2;
  width: 100%;
  margin-top: 3vh;
}

.gamemode-bar-container {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.main-content {
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.footer-container{
  grid-row: 4 / 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 4vh;
}